<div>
  <div class="flex flex-row items-center gap-4 h-24 my-6">
    <h1 class="text-2xl font-roboto font-medium text-zinc-50">Editar Viagem</h1>
    <app-button
      label="Voltar para Informações"
      src="../../../assets/arrow-left.svg"
      route="/info/{{ trip.id }}"
    ></app-button>
  </div>
  <div class="border-y-2 border-zinc-800">
    <div class="flex items-center gap-5 mx-12 my-5">
      <div>
        <h2 class="text-xl font-semibold text-zinc-50">Edição Viagem</h2>
        <span class="text-lg text-zinc-500">Edite uma viagem existente</span>
      </div>
    </div>
    <div
      class="grid grid-cols-3 p-2 border-y-2 border-zinc-800 gap-5 mx-12 my-5"
    >
      <app-trip-forms
        [flex]="true"
        [trip]="trip"
        class="col-span-1"
      ></app-trip-forms>
      <div class="col-span-2">
        <div>
          <h2 class="text-xl font-semibold text-zinc-50">
            Adicionar Participante
          </h2>
          <span class="text-base text-zinc-500"
            >Adicione participantes para a viagem</span
          >
        </div>
        <form
          [formGroup]="formParticipantes"
          (ngSubmit)="onSubmitParticipante()"
        >
          <div class="flex flex-row w-full gap-2 items-center my-1">
            <app-form-input
              [control]="nomeParticipante"
              label="Nome:"
              type="text"
              name="nome"
            />
            <app-form-input
              [control]="emailParticipante"
              label="Email:"
              type="text"
              name="email"
            />
            <app-button label="Adicionar" src="../../../assets/plus.svg" />
          </div>
        </form>
        <div>
          <h3 class="text-lg font-semibold text-zinc-50">Participante</h3>
          <app-participants-table
            [participantsData]="trip.participante"
          ></app-participants-table>
        </div>
      </div>
    </div>
  </div>
</div>
