<app-cancel-trip class="fixed inset-0 flex justify-center items-center z-30" [tripId]="trip.id" *ngIf="isModalOpen" (close)="closeModal()"></app-cancel-trip>
<div class="font-roboto">
  <div class="flex flex-row items-center gap-5 h-24 my-6">
    <h1 class="text-2xl font-medium text-zinc-50">Dados Viagem</h1>
  </div>
  <div class="border-y-2 border-zinc-800">
    <div>
      <div class="flex items-center gap-5 mx-12 my-12 justify-between">
        <div>
          <h2 class="text-2xl font-semibold text-zinc-50">Id</h2>
          <span class="text-lg text-zinc-500">{{ trip.id }}</span>
        </div>
        <app-button
          label="Editar Viagem"
          src="../../../assets/edit.svg"
          route="/edit/{{ trip.id }}"
        ></app-button>
      </div>
      <div class="flex gap-32 mx-12 my-12 border-y-2 border-zinc-800 p-8">
        <div class="text-zinc-50">
          <div>
            <div class="flex flex-col gap-2">
              <p class="text-lg">Destino:</p>
              <p class="text-lg text-zinc-500">{{ trip.viagem }}</p>
            </div>
          </div>
          <div>
            <div class="flex gap-48 mt-16">
              <div class="flex flex-col gap-2">
                <p class="text-lg">Criado Por:</p>
                <p class="text-lg text-zinc-500">{{ trip.criadoPor }}</p>
              </div>
              <div class="flex flex-col gap-2">
                <p class="text-lg">Email:</p>
                <p class="text-lg text-zinc-500">{{ trip.email }}</p>
              </div>
            </div>
            <div class="flex gap-48 mt-16">
              <div class="flex flex-col gap-2">
                <p class="text-lg">Data de Início:</p>
                <p class="text-lg text-zinc-500">
                  {{ trip.inicio | date : "dd/MM/yyyy" }}
                </p>
              </div>
              <div class="flex flex-col gap-2">
                <p class="text-lg">Data do Fim:</p>
                <p class="text-lg text-zinc-500">
                  {{ trip.fim | date : "dd/MM/yyyy" }}
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="text-zinc-50 border-x-2 border-zinc-800 w-[40%]">
          <div class="border-b-2 border-zinc-800 p-2">
            <span class="text-lg">Participantes:</span>
          </div>
          <app-data-part-table
            [participantsData]="trip.participantes"
          ></app-data-part-table>
        </div>
      </div>
      <div class="flex items-center gap-5 mx-12 my-12 justify-end">
        <button
          class="flex flex-row items-center gap-1 bg-red-400 text-red-950 py-[2px] px-4 rounded-full"
          (click)="openModal()"
        >
          <img src="../../../assets/cancel.svg" />
          <p>Cancelar Viagem</p>
        </button>
      </div>
    </div>
  </div>
</div>

