<div class="max-h-[70vh] overflow-y-auto scroll">
  <table class="min-w-full divide-y divide-zinc-950 h-[45%]">
    <thead class="bg-zinc-950 sticky top-0 z-10">
      <tr>
        <th
          *ngFor="let title of table"
          scope="col"
          class="sticky top-0 bg-inherit z-10 px-6 py-3 font-roboto text-xs text-center font-medium text-zinc-50 uppercase tracking-wider"
        >
          {{ title }}
        </th>
      </tr>
    </thead>
    <div class="bg-zinc-700 h-[1px] w-full"></div>
    <tbody class="bg-zinc-950 divide-y divide-zinc-950">
      <tr *ngFor="let trip of tripsData | async">
        <td class="header-table">
          <p class="text-table text-zinc-200">
            {{ trip.viagem }}
          </p>
        </td>
        <td class="header-table">
          <p class="text-table text-zinc-200">
            {{ trip.inicio | date : "dd/MM/yyyy" }}
          </p>
        </td>
        <td class="header-table">
          <p class="text-table text-zinc-200">
            {{ trip.fim | date : "dd/MM/yyyy" }}
          </p>
        </td>
        <td class="header-table">
          <p
            class="text-center font-medium text-sm font-roboto rounded-full"
            [ngClass]="{
              'bg-teal-950 text-teal-400':
              verificaStatus(trip.inicio, trip.fim, trip.estaCancelada) === 'Planejada',
              'bg-red-950 text-red-300': verificaStatus(trip.inicio, trip.fim, trip.estaCancelada) === 'Cancelada',
              'bg-yellow-950 text-yellow-400': verificaStatus(trip.inicio, trip.fim, trip.estaCancelada) === 'Em andamento',
              'bg-green-950 text-green-400': verificaStatus(trip.inicio, trip.fim, trip.estaCancelada) === 'Concluída',
            }"
          >
            {{ verificaStatus(trip.inicio, trip.fim, trip.estaCancelada) }}
          </p>
        </td>
        <td class="header-table">
          <p class="text-table text-zinc-200">
            {{ trip.criadoPor }}
          </p>
        </td>
        <td class="border-y-[1px] text-center border-zinc-800 px-4 py-2">
          <a
            [routerLink]="['/info', trip.id]"
            class="text-center font-medium text-sm font-roboto rounded-full text-teal-950 bg-teal-400 py-[1px] px-3"
          >
            Ver Mais
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
