<div>
  <div class="flex flex-row items-center gap-5 h-24 my-6">
    <h1 class="text-2xl font-roboto font-medium text-zinc-50">
      Adicionar nova Viagem
    </h1>
    <app-button
      label="Voltar"
      src="../../../assets/arrow-left.svg"
      route="/"
    ></app-button>
  </div>
  <div class="border-y-2 border-zinc-800">
    <div class="mx-32 mt-16 mb-4">
      <div>
        <h1 class="text-xl font-roboto font-medium text-zinc-50 my-4">
          Dados Viagem
        </h1>
        <p class="text-sm font-roboto font-medium text-zinc-500 my-4">
          Insira os dados abaixo para adicionar uma nova Viagem
        </p>
      </div>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="grid grid-cols-3 py-20 border-y-2 border-zinc-800">
          <app-form-input
            [control]="destino"
            label="Destino:"
            type="text"
            name="destino"
          />
          <app-form-input
            [control]="nome"
            label="nome:"
            type="text"
            name="nome"
          />
          <app-form-input
            [control]="email"
            label="Email:"
            type="text"
            name="email"
          />
          <app-form-input
            [control]="inicio"
            label="Data de Inicio:"
            type="date"
            name="inicio"
          />
          <app-form-input
            [control]="fim"
            label="Data de Fim:"
            type="date"
            name="fim"
          />
        </div>
        <div class="flex flex-row justify-end mt-4 mb-10">
          <p *ngIf="formMsg">{{ formMsg }}</p>
          <app-button
            label="Salvar Viagem"
            src="../../../assets/send.svg"
          ></app-button>
        </div>
      </form>
    </div>
  </div>
</div>
